# Database Configuration
DB_HOST=146.103.126.207
DB_USER=phpmyadmin
DB_PASSWORD=PMA_Str0ng!2025
DB_NAME=BalansAiBot
DB_PORT=3306

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8087310424:AAGn99-GObyu8cU7ADPNTt950K3scdtGXUQ
TELEGRAM_BOT_USERNAME=BalansAiBot

# Flask Configuration
SECRET_KEY=your_secret_key_here
DEBUG=True

# OTP Configuration
OTP_EXPIRY_MINUTES=5
OTP_LENGTH=6
